html, body {
    height: 100%;
    width: 100%;
  }
  
.center-align {
   display: flex;
   justify-content: center;
   align-items: center;
}

.center-block-align {
    display: inline-block;
    margin-left: 160px;
}

.text-box {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 250px;	
 }

.grid3 {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70px 70px 70px;
  grid-template-columns: 70px 70px 70px;	
  width: 220px;
  height: 220px;
  margin-left: 250px;	
}

.grid2 {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 70px 70px;
  grid-template-columns: 70px 70px;	
  height: 220px;
  margin-left: 50px;	
}


.button {
    width: 85px;
    height: 25px;
    background: #eaf7fa;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #7a94eb;
    color: black;
    line-height: 25px;
    text-decoration: none;
    margin: 50px
}

.calc-button {
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background: white;
}      

#input {
    text-align: center;
    border: 2px solid black;
    width: 285px;
    height: 55px;
}

.highlight {
    width: 85px;
    height: 25px;
    background: #f0cac8;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #f16b59;
    color: black;
    line-height: 25px;
    text-decoration: none;
    margin: 50px;
    box-shadow: 2px 2px 1px rgb(202, 202, 202);
}

.inputarea {
    width: 395px;
    height: 55px;
    border: 2px solid black;
    padding: 2px;
}

.zero-button {
	margin-top: 5px;
	width: 220px;
  	height: 70px;
  	margin-left: 250px;	
	justify-content: center;
    align-items: center;
	display: flex
}

.calc-button-zero {
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background: white;
    height: 70px;
    width: 70px;
}

.calc-button-ce {
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background: white;
    height: 70px;
    width: 70px;
    margin-left: 50px;
}    

.form-container {
    display: flex
}

.signup-button {
    border: 2px solid black;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    background: white;
    height: 50px;
    width: 120px;
    margin-left:150px;
} 

.signup-label {
    text-align: center;
    padding: 15px;
    margin-right: 25px;
    height: 66px;
    width: 103px;
}

